@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.green-button {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: max-content;
  padding: 12px 10px;
  cursor: pointer;
}

.green-button:hover {
  background-color: #5fbb2d;
}

.green-button:active {
  background-color: #518534;
}

.green-button:focus {
  outline: 1px solid #ffbf47;
}

.green-stroke-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.green-stroke-button:hover {
  border-color: #3d546f;
}

.green-stroke-button:active {
  color: #c5c5c5;
  border-color: #c5c5c5;
}

.red-button {
  display: block;
  box-sizing: border-box;
  min-height: 45px;
  padding: 13px 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.red-button:hover {
  background-color: #ca2c37;
}

.red-button:active {
  background-color: #ba2732;
}

.red-button:focus {
  outline: 2px solid #ffbf47;
}

body {
  min-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.section-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #293449;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.field {
  box-sizing: border-box;
  padding: 8px 14px 6px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #556981;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
}

.field::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #cccccc;
}

.field:hover {
  border: 1px solid #63a63e;
  cursor: pointer;
}

.field:focus {
  border: 1px solid #63a63e;
  outline: 1px solid #ffbf47;
}

.field:invalid {
  border-color: #ee3643;
}

.field:disabled {
  cursor: default;
  color: #808080;
  background: #f1f5f7;
  opacity: 0.5;
}

.field:placeholder-shown {
  border: 1px solid #c5c5c5;
}

.field:placeholder-shown:hover {
  border: 1px solid #63a63e;
}

/* Header */
.header {
  margin-bottom: 52px;
}

.header-contacts-wrapper {
  color: #32425c;
  background-color: #f3f7f9;
}

.header-contacts {
  width: 1170px;
  margin: 0 auto;
  padding: 13px 0;
  color: #293449;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  color: #ee3643;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto 0 0;
  padding: 0;
  max-width: 600px;
}

.header-address {
  color: #32425c;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: -5px 33px 0 0;
  max-width: 300px;
}

.header-phone {
  display: block;
  color: #293449;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0 3px 0 24px;
  background: url("../images/phone-icon.svg") no-repeat left center;
  max-width: 185px;
}

.header-phone:hover {
  opacity: 0.6;
}

.header-phone:active {
  opacity: 0.3;
}

.header-phone:focus {
  outline: 1px solid #ffbf47;
}

.header-elements-wrapper {
  color: #f1f5f7;
  background-color: #293449;
  min-height: 45px;
}

.header-elements {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.header-logo-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.header-logo-link:focus {
  outline: 1px solid #ffbf47;
}

/* Header search */
.header-search {
  margin-left: 220px;
  width: 715px;
  min-height: 45px;
  position: relative;
}

.header-search-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 5px 53px;
  margin: 0;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: rgb(255, 255, 255, 0.3);
}

.header-search-field::-webkit-search-cancel-button {
  display: none;
}

.header-search-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.header-search-field:focus {
  color: #293449;
  background-color: #f1f5f7;
  outline: none;
}

.header-search-field:focus + .search-icon {
  color: #405069;
}

.header-search-field:focus::placeholder {
  color: #c5c5c5;
}

/* Logged OUT*/
.logged-out {
  position: relative;
  max-width: 210px;
}

.login-link {
  display: block;
  color: #f1f5f7;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 0 13px 28px;
  background: url("../images/login-icon.svg") no-repeat left center;
}

.login-link:hover {
  opacity: 0.6;
}

.login-link:active {
  opacity: 0.3;
}

/* Logged IN */
.logged-in {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.user-name {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f1f5f7;
  text-decoration: none;
  position: relative;
  padding: 10px 10px 10px 25px;
  display: block;
}

.user-name::before {
  content: "";
  background: url("../images/user-icon.svg") no-repeat center left;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-name:hover {
  opacity: 0.6;
}

.user-name:active {
  opacity: 0.3;
}

.logout-button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/logout-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  opacity: 0.6;
}

.logout-button:active {
  opacity: 0.3;
}

/* AUTH */
.log-hidden {
  display: none;
}

/* Navigation */
.navigation-wrapper {
  color: #ffffff;
  background-color: #3d546f;
}

.navigation {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-list {
  width: 820px;
  padding: 0;
  margin: 0 0 0 -20px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 23px 26px;
  box-sizing: border-box;
}

.navigation-link:hover {
  background-color: #32425c;
}

.navigation-link:focus,
.user-menu-link:focus {
  outline: 1px solid #ffbf47;
}

/* Navigation link CURRENT */
.navigation-link-current {
  font-weight: 700;
  background-color: #32425c;
}

/* User menu */
.user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  align-items: center;
  justify-content: end;
}

.user-menu-list {
  margin: -7px 24px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 16px;
}

.user-menu-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  min-width: 25px;
  min-height: 25px;
  padding: 22px 4px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:active {
  opacity: 0.3;
}

.user-menu-icon {
  opacity: 0.6;
}

.hidden-amount {
  display: none;
}

.header-button {
  width: 170px;
  margin-top: -8px;
}

/* Main */
.main-container {
  margin: 0 auto;
}

/* Promo */
.promo-block {
  width: 1170px;
  margin: 0 auto 50px;
}

.promo-list {
  list-style-type: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 28px 30px;
  grid-template-areas:
    "promo-1 promo-2 promo-3"
    "promo-4 promo-4 promo-5"
    "promo-4 promo-4 promo-6";
}

.promo-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: promo-1;
  background-image: url("../images/materials-icon.svg");
  background-repeat: no-repeat;
  background-position: right 43px top 51px;
}

.promo-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: promo-2;
  background-image: url("../images/tool-icon.svg");
  background-repeat: no-repeat;
  background-position: right 40px top 54px;
}

.promo-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: promo-3;
  background-image: url("../images/technic-icon.svg");
  background-repeat: no-repeat;
  background-position: right 40px top 55px;
}

.promo-4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: promo-4;
}

.promo-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: promo-5;
  background-image: url("../images/sales-icon.svg");
  background-repeat: no-repeat;
  background-position: right 40px top 51px;
}

.promo-6 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: promo-6;
  background-image: url("../images/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: right 40px top 58px;
}

.promo-list-item {
  width: 370px;
  min-height: 180px;
  padding: 20px 25px;
  box-sizing: border-box;
}

.promo-block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 57px 0;
  width: 215px;
}

.promo-block-link {
  display: block;
  width: 180px;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px 28px;
}

/* Promo-item COLORS */
.yellow-promo-item {
  background-color: #ffbf47;
}

.blue-promo-item {
  background-color: #3bbce3;
}

.pink-promo-item {
  background-color: #dc91d8;
}

.green-promo-item {
  background-color: #8ed78f;
}

/* Promo slider */
.main-slider {
  width: 770px;
  min-height: 390px;
  color: #ffffff;
  background-color: #452e1c;
  padding: 50px 50px 41px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.slide-1 {
  background-image: url("../images/slider-image-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-2 {
  background-image: url("../images/slider-image-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hidden-slide {
  display: none;
}

.slider-title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding: 0;
  width: 300px;
}

.slider-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  width: 300px;
}

.slider-link {
  margin-top: auto;
  width: 195px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 730px;
  position: absolute;
  top: 52%;
  left: 20px;
  transform: translateY(-50%);
}

.slider-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(41, 52, 73, 0.6);
  cursor: pointer;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  transform: rotate(180deg);
}

/* Slider pagination */
.slider-pagination {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.slider-pagination-button {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffd180;
}

.slider-pagination-button:hover::after {
  background-color: #ffffff;
}

.slider-pagination-button-current::after {
  background-color: #ffffff;
}

/* Catalog */
.catalog {
  width: 1170px;
  margin: 0 auto;
}

.catalog-wrapper {
  display: flex;
  margin-bottom: 53px;
}

.catalog-title {
  margin-bottom: 26px;
}

/* Filter */
.filter {
  width: 220px;
  margin-right: 80px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
  padding: 0;
}

.manufacturer-title {
  margin-bottom: 16px;
}

.power-title {
  margin-bottom: 20px;
}

.catalog-filter-group {
  margin: 0 0 40px 0;
  padding: 0;
  border: none;
}

.manufacturer-group {
  margin-bottom: 46px;
}

.power-group {
  margin: 0 0 46px 5px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

/* Range */
.range {
  margin: 0;
}

.range-scale-wrapper {
  background-color: #f7f3ec;
  border-radius: 2px;
  padding: 10px 19px;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 7px;
}

.range-scale {
  position: absolute;
  height: 2px;
  background-color: #3d546f;
  width: 173px;
  top: 17px;
  left: 27px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #5fbb2d;
}

/* Toggles */
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #3d546f;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.range-toggle:hover {
  background: #518534;
}

.range-toggle:active {
  background: #5fbb2d;
}

.range-toggle:focus {
  outline: 2px solid #ffbf47;
}

.toggle-min {
  top: -9px;
  left: -8px;
}

.toggle-max {
  top: -9px;
  right: -8px;
}

/* Range inputs */
.range-inputs-wrapper {
  display: flex;
  width: 220px;
  justify-content: space-between;
  position: relative;
}

.range-inputs-wrapper::after {
  content: "_";
  position: absolute;
  top: 0;
  left: 107px;
}

.range-input {
  width: 95px;
  box-sizing: border-box;
  padding: 11px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #293449;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-input:focus + .control-mark {
  outline: 2px solid #ffbf47;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 21px;
  height: 21px;
  border: 2px solid #3d546f;
  border-radius: 3px;
  box-sizing: border-box;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 9px;
  height: 7px;
  background: url("../images/checkbox-tick.svg") no-repeat center;
  content: "";
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  background-color: #3d546f;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:hover ~ .control-mark {
  opacity: 0.6;
}

.control-input[type="checkbox"]:disabled ~ .control-mark,
.control-input:disabled ~ .control-label {
  opacity: 0.2;
  cursor: default;
}

/*  Filter button */
.filter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 220px;
  color: #32425c;
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid #32425c;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  opacity: 0.6;
}

.filter-button:active {
  opacity: 0.3;
}

.filter-button:focus {
  outline: 2px solid #ffbf47;
}

/* Select */
.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #293449;
  background-color: transparent;
  background-image: url("../images/select-arrow-black.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  border: 1px solid #3d546f;
  border-radius: 2px;
  width: 280px;
  padding: 8px 16px;
  margin-bottom: 30px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  border-color: #63a63e;
}

.select-control:focus {
  border-color: #63a63e;
  outline: 1px solid #ffbf47;
  background-image: url("../images/select-arrow-green.svg");
}

/* Catalog-items */
.catalog-right-column {
  margin-top: 30px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 265px 270px 270px;
  gap: 25px 33px;
  list-style-type: none;
  margin: 0 0 27px 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  padding: 27px 27px 27px 24px;
  align-items: center;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.catalog-item:hover .catalog-item-buttons {
  display: flex;
}

.catalog-item:focus-within .catalog-item-buttons {
  display: flex;
}

.catalog-image {
  display: block;
  margin-bottom: 14px;
}

.catalog-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #293449;
  margin: 0 0 14px 0;
  padding: 0;
}

.catalog-item-price-old {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  margin: 0 0 12px 0;
  padding: 0;
}

.catalog-item-price {
  width: 120px;
  box-sizing: border-box;
  padding: 11px 5px;
  margin: auto 0 0 -17px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

.button-red-arrow {
  color: #ee3643;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.catalog-item-price:hover .button-red-arrow {
  color: #ca2c37;
}

.catalog-item-price:active .button-red-arrow {
  color: #ba2732;
}

/* New item */
.new-item {
  position: relative;
}

.new-item::before {
  content: "";
  width: 70px;
  height: 70px;
  background: url("../images/new-icon.png") no-repeat center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/* Catalog item buttons */
.catalog-item-buttons {
  position: absolute;
  flex-direction: column;
  gap: 11px;
  max-height: 215px;
  width: fit-content;
  max-width: 250px;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 34px 40px 62px;
  box-sizing: border-box;
  display: none;
}

.buy-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 11px 24px 11px 38px;
  background-color: #63a63e;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-image: url("../images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: left 21px center;
  background-size: 14px 14px;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

/* Pagination */
.pagination-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 9px;
  margin: 0;
  padding: 0;
}

.pagination-link {
  padding: 14px 20px;
  background-color: #3d546f;
  border-radius: 2px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.pagination-link:hover {
  opacity: 0.6;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-current {
  color: #3d546f;
  background-color: #ffffff;
  cursor: default;
}

.pagination-current:hover {
  opacity: 1;
}

.pagination-current:active {
  opacity: 1;
}

.pagination-button-show-more {
  width: 195px;
}

/* Services */
.services {
  color: #293449;
  background-color: #f4f7f9;
  padding: 52px 0;
}

.services-wrapper {
  width: 1170px;
  margin: 0 auto;
}

.service-delivery {
  background-image: url("../images/service-delivery.svg");
  background-repeat: no-repeat;
  background-position: left 31px top 24px;
}

.service-guarantee {
  background-image: url("../images/service-guarantee.svg");
  background-repeat: no-repeat;
  background-position: left 31px top 24px;
}

.service-credit {
  background-image: url("../images/service-credit.svg");
  background-repeat: no-repeat;
  background-position: left 31px top 24px;
}

.services-title {
  text-align: center;
  margin: 0 auto 30px;
  width: 1000px;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 64px 0;
  text-align: center;
}

/* Services list */
.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services-item {
  width: 370px;
  min-height: 382px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 160px 30px 30px;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.services-item-description {
  margin: 0;
  padding: 0;
}

.service-guarantee .services-item-description {
  margin-left: 5px;
}

/* About us */
.about-us-wrapper {
  width: 1170px;
  margin: 53px auto 44px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px 0;
}

.about-us {
  width: 550px;
}

.about-us-title,
.contacts-title {
  margin-bottom: 23px;
}

.about-us-description,
.contacts-description {
  color: #293449;
  margin: 0 0 25px 0;
}

.contacts {
  width: 500px;
}

.about-us-button {
  display: block;
  margin: 50px 0 0 0;
  width: 195px;
}

.map-link {
  display: block;
}

.map-image {
  margin-top: 6px;
}

/* Footer */
.footer {
  color: #ffffff;
  background-color: #32425c;
}

.footer-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left-column {
  width: 400px;
}

.footer-logo-link {
  display: block;
  width: 220px;
  height: 50px;
  margin-bottom: 25px;
}

.footer-logo-link:focus {
  outline: 1px solid #ffbf47;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 0 35px 0;
  gap: 5px;
}

.footer-social-link {
  display: block;
  width: 36px;
  height: 36px;
}

.footer-social-link:hover .social-icon {
  color: #293449;
}

.social-icon {
  color: rgb(255, 255, 255, 0.1);
}

.footer-address {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f3f7f9;
  text-decoration: none;
  margin-bottom: 21px;
  display: block;
  width: fit-content;
}

.footer-phone:hover {
  opacity: 0.6;
}

.footer-phone:focus {
  outline: 1px solid #ffbf47;
}

.footer-social-link:focus {
  outline: 1px solid #ffbf47;
}

.footer-right-column {
  max-width: 500px;
}

.footer-feedback {
  text-align: right;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f3f7f9;
  text-decoration: none;
  margin: 15px 0 29px 0;
}

.link {
  color: #ffd180;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  opacity: 0.6;
}

.link:focus {
  outline: 1px solid #ffbf47;
}

.footer-subscription {
  text-align: right;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
}

.footer-subscription-text {
  margin: 0 0 2px 0;
}

.footer-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.footer-email-field {
  padding: 10px 16px;
  background-color: #ffffff;
  border: 1px solid #63a63e;
  border-radius: 2px 0 0 2px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  box-sizing: border-box;
}

.footer-email-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #bdbdbd;
}

.footer-email-field:disabled {
  cursor: default;
  color: #808080;
  background: #f1f5f7;
  opacity: 0.5;
}

.footer-email-field:focus {
  outline: 1px solid #ffbf47;
}

.footer-email-button {
  padding: 11px;
  width: 40px;
  height: 40px;
  background-color: #63a63e;
  border-radius: 0 2px 2px 0;
  border: none;
  cursor: pointer;
  background-image: url("../images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.footer-email-button:hover {
  background-color: #5fbb2d;
}

.footer-email-button:active {
  background-color: #518534;
}

.footer-email-button:focus {
  outline: 1px solid #ffbf47;
}

.footer-info-wrapper {
  color: #ffffff;
  background-color: #293449;
}

.footer-info {
  width: 1170px;
  margin: 0 auto;
  padding: 21px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  max-width: 500px;
}

.made-in-html {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  max-width: 500px;
}

/* Popover*/
.popover {
  position: absolute;
  width: 360px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  top: 13px;
  left: -280px;
  box-sizing: border-box;
  padding: 21px 30px 35px;
  z-index: 1;
  display: none;
}

.popover:hover,
.popover:active,
.popover:focus-within {
  display: block;
}

.login-link:focus-within + .popover-auth {
  display: block;
}

.popover-close-button {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popover-close-button:hover {
  opacity: 0.6;
}

.popover-close-button:active {
  opacity: 0.3;
}

.popover-title {
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 47px;
  padding: 0;
}

/* Popover AUTH */
.popover-auth-field {
  width: 300px;
  margin-bottom: 7px;
}

.popover-auth-field:last-of-type {
  margin-bottom: 10px;
}

.popover-auth-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
  margin-bottom: 35px;
}

.remember-me-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.remember-me-control {
  padding-left: 38px;
  margin-right: 13px;
}

.forget-password-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.popover-auth-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  margin-left: -5px;
}

.popover-login-button {
  width: 144px;
  padding-left: 30px;
  background-image: url("../images/login-icon.svg");
  background-repeat: no-repeat;
  background-position: left 25px center;
}

.popover-reg-button {
  width: 145px;
}

/* Popover USER */
.popover-user {
  left: -145px;
}

.popover-user .popover-title {
  margin-bottom: 35px;
}

.popover-user-links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 24px;
}

.popover-user-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3d546f;
  text-decoration: none;
}

.popover-user-link:hover {
  opacity: 0.6;
}

.popover-user-link:active {
  opacity: 0.3;
}

.popover-user-logout-button {
  width: 145px;
}

.user-name:focus-within + .popover-user {
  display: block;
}
